#green{
    background-color: hsl(120, 100%, 50%);
}
#p1{
    background-color: hsl(120, 100%, 75%);
}
#p2{
    background-color: hsl(120, 100%, 90%);
}
#p3{
    background-color: hsl(120,100%,25%);
}
#p4{
    background-color: hsl(120, 60%, 70%);
}
#p5{
    background-color: hsl(290, 100%, 50%);
}