.div1{
    border: 1px solid black;
    height: 120px;
    width: 150px;
    background-image: url('./nataliya-melnychuk-qZ2g0NhwnLM-unsplash.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
.div2{
    border: 1px solid black;
    height: 120px;
    width: 150px;
    background: url('./nataliya-melnychuk-qZ2g0NhwnLM-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.div3{
    border: 1px solid black;
    height: 120px;
    width: 150px;
    background: url('./nataliya-melnychuk-qZ2g0NhwnLM-unsplash.jpg');
    background-size: 100% 100%;
}