.container{
    width: 50%;
    display: inline-block;
    position: relative;
}
.image{
    display: block;
    width: 100%;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: #008CBA;
    transition: all 0.3s ease;
}
.overlay:hover{
    opacity: 1;
}
.text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}