.box{
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform ease-in-out 5s;
}
.box:hover{
    transform: skew(30deg,-20deg);
}