.container{
    display: flex;
    height: 500px;
    background-color: red;
    align-items: flex-end;
}
.container > div {
    margin: 10px;
    width: 100px;
    line-height: 75px;
    background-color: #fff;
    text-align: center;
}
