.container{
    display: flex;
    background-color: red;
    flex-wrap: wrap-reverse;
}
.container > div {
    width: 100px;
    line-height: 75px;
    background-color: #fff;
    margin: 10px;
    text-align: center;
}