*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 100px;
    background-image: linear-gradient(#157eea, #6015ea, #ea15c8, #ea156d, #ea1525, #ea5915, #eaa115, #eae615);
    color: transparent;
    background-clip: text;
}
button{
    border: none;
    padding: 30px;
    border-radius: 5px;
    color: white;
    background: linear-gradient(to right,#ff7e5f,#feb47b);
}