ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}
li a{
    display: block;
    text-decoration: none;
    padding: 14px 16px;
    color: white;
}
li a:hover:not(.common){
    background-color: red;
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0,0, 0.2);
}
.dropdown-content a{
    color: black;
}
.dropdown:hover .dropdown-content{
    display: block;
}