html {
    background-image: url('./bg_Img.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
body{
    margin: 0;
}
summary {
    background-color: rgba(206, 193, 211, 0.7);
    margin: 5px;
    /* color: rgb(233, 27, 27); */
}

.display {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    overflow-x: auto;
}

@media screen and (max-width:997px) {
    .display {
        display: grid;
    }

    a {
        border-bottom: 1px solid black;
    }
}

a:link,
a:visited {
    background-color: yellow;
    padding: 10px;
    text-decoration: none;
    border-radius: 14px 0;

}

a:hover,
a:active {
    background-color: aqua;
}

header {
    font-family: serif;
    padding: 16px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(150, 20, 30,0.3);
    color: white;
    text-shadow: 2px 3px 4px rgb(115,200,200);
    text-decoration: underline;
    font-size: 2.1vw;
}