body{
    margin: 0;
    background-image: url('./background_image.png');
}
summary {
    background-color: antiquewhite;
    margin: 5px;

}

div{
    display: flex;
    margin: 20px;
    justify-content: space-between;

}
@media screen and (max-width:997px) {
    div{
        display: grid;
    }

    a{
        border-bottom: 1px solid black;
    }
}

a:link ,a:visited {
    background-color: yellow;
    padding: 10px;
    text-decoration: none;
    
}
a:hover, a:active{
    background-color: aqua;
}

h1 {
font-family:serif;
padding: 20px;
text-align: center; 
text-transform: uppercase;
background-color: black;
color: white;
text-shadow: 2px 3px 4px rgb(8, 159, 247);
text-decoration: underline;
}