.container{
display: flex;
height: 200px;
align-items: stretch;
background-color: red;
}
.container>div{
    width: 100px;
    margin: 10px;
    line-height: 75px;
    text-align: center;
    background-color: aqua;
}