.container{
    display: flex;
    height: 200px;
    align-items: center;
    background-color: red;
}
.container>div{
    width: 100px;
    line-height: 75px;
    margin: 10px;
    text-align: center;
    background-color: aquamarine;
}