ul{
    border: 1px solid black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:#f1f1f1;
}
li{
    border-bottom: 1px solid black;
}
li:last-child{
    border-bottom: none;
}
li a{
    display: block;
    text-decoration: none;
    padding: 8px 16px;
    color: black;
    text-align: center;
}
li a.active{
    color: white;
    background-color:green;
}
li a:hover:not(.active){
    background-color: #555;
    color: white;
}
