@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

@font-face {
    font-family: myFirstFont;
    src: url(sansation_bold.woff);
    font-weight: bold;
}

* {
    font-family: myFirstFont;
}