p{
    border: 0.8em darkviolet;
    border-style: dotted;
    margin: 1em 0;
    padding: 1.4em;
    background: linear-gradient(60deg,red,yellow,red,yellow,red);
    font: 900 1.2em sans-serif;
    /* text-decoration: underline; */
}

.border-box{
    background-clip: border-box;
}
.content-box{
    background-clip: content-box;
}
.padding-box{
    background-clip: padding-box;
}