div.gallery {
border: 1px solid gainsboro;
margin: 5px;
float: left;
width: 180px;  /*overflow: auto; use for full contain also see in tutorial but image height issue*/
} 

div.gallery img {
width: 100%;
height: auto;
}

div.desc {
padding: 12px;
text-align: center;
}

div.gallery:hover {
    border: 1px solid black;
}