.px{
    border-style: dotted;
    border-width: 5px;
}
.thin{
    border-style: dotted;
    border-width: thin;
}
.medium{
    border-style: dotted;
    border-width: medium;
}
.thick{
    border-style: dotted;
    border-width: thick;
}
.percentage{
    border-style: dotted;
    border-width: 30%; /*percentage doesn't work here*/
}