div {
    display: inline-block;
    width: 150px;
    text-align: center;
    padding: 70px 0;
}

.container1 {
    background-color: rgba(4, 170, 109, 0.1);

}

.container2 {
    background-color: rgba(4, 170, 190, 0.2);
}

.container3 {
    background-color: rgba(4, 170, 190, 0.3);
}

.container4 {
    background-color: rgba(4, 170, 109, 0.4);

}

.container5 {
    background-color: rgba(4, 170, 190, 0.5);
}

.container6 {
    background-color: rgba(4, 170, 190, 0.6);
}

.container7 {
    background-color: rgba(4, 170, 190, 0.7);

}

.container8 {
    background-color: rgba(4, 170, 190, 0.8);
}

.container9 {
    background-color: rgba(4, 170, 190, 0.9);
}

.container10 {
    background-color: rgba(4, 170, 190,1.0);

}