/* 2px represent horizontal shadow and 3px represent vertical shadow in example .s1 */
.s1 {
    text-shadow: 2px 3px red;
}
.s2 {
    text-shadow:2px 3px 4px gray;
}
.s3{
    color: white;
    text-shadow: 2px 3px 4px rgb(236, 14, 14),0  0 6px blue,0 0 4px green;
}