ul{
    list-style-type:none;
    background-color: darkslategray;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
li {
    float: left;


}
li a{
    text-decoration: none;
    padding: 15px;
    color: white;
    display: block;
}

li a:hover {
    background-color: black;

}
li a.active {
    background-color: green;
}

li a:hover:not(.active) {
    background-color: black;
}