div{
    width: 150px;
    position: relative;
    height: 150px;
    animation-name: Delay;
    animation-duration: 6s;
    margin-top: 300px; /* It's only foe right animation not bottom*/
    margin-left: 500px;
}
/* @keyframes Delay {
0%{background-color: aliceblue;right: 0;top: 0;}
25%{background-color: purple;right: 400px;top: 0;}
50%{background-color: pink;top: 400px;right: 400px;}
75%{background-color: chartreuse;right: 0;top: 400px;}
100%{background-color: chocolate;top: 0;right: 0;}
} */
@keyframes Delay {
    0%{background-color: aliceblue;bottom: 0px;right: 0px;}
    25%{background-color: purple;bottom: 0px;right:300px;}
    50%{background-color: blue;bottom: 300px;right: 300px;}
    75%{background-color: darkgoldenrod;bottom:300px;right: 0px;}
    100%{background-color: chocolate;bottom: 0;right: 0;}
}