a:link,
a:visited {
    padding: 14px 14px;
    color: aqua;
    background-color: red;
    border-bottom: 1px solid white;
    text-decoration: none;
    text-transform: uppercase;

}

a:hover,
a:active {
    /* Note : It is take a space */
    visibility: hidden;

}