a:link ,s a:visited{
padding: 14px 14px;
border-bottom: 1px solid black;
background-color: red;
text-decoration: none;
text-transform: uppercase;
}
a:hover,a:active {
        /* Note : Does not tack any space */
    display: none;
}