.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
    gap: 20px;
}
img{
    width: 250px;
    height: 250px;
}
/* @media screen and (max-width:1023px) {
    .container{
        grid-template-columns: repeat(3, 250px);
    }
}
@media screen and (max-width:767px) {
    .container{
        grid-template-columns: repeat(2, 250px);
    }
} */
