.container{
    display: grid;
    grid-template-columns: repeat(5,100px);
    grid-template-rows: repeat(5,100px);
}
.item{
    background-color: aqua;
    display: grid;
    justify-content: center;
    align-items: center;
    color: red;
    border: 1px solid black;
}
.item2{
    /* grid-column: 2 / 4;
    grid-row: 2 / 4; */
    z-index: 1;
    /* grid-area: grid-row-begin/ grid-column-begin / Grid-row-end / Grid-Column-End*/
    grid-area: 2 / 2 / 4 / 4;
}
.item3{
    grid-area: 3 / 3 / 5 / 6;
    /* grid-column: 3 / 6;
    grid-row: 3 / 5; */
}
