.grid-container{
    display: grid;
    background-color: aqua;
    padding: 10px;
    gap: 10px;
    grid-template-columns: auto auto auto auto auto auto;
}
.grid-container>div{
    background-color: red;
    color: white;
    padding: 20px 0;
    font-size: 30px;
    text-align: center;
}
.item8{
    grid-area:1 / 2 / 5 / 6;
}