.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    background-color: aqua;
    padding: 10px;
}
.grid-container>div{
    background-color: rgba(200, 100, 20, 0.6);
    padding: 30px;
    font-size: 30px;
    text-align: center;
}
.grid-item1{
    grid-column: 1/5;
}