.grid-container{
    display: grid;
    background-color: aqua;
    padding: 10px;
    grid-template-columns: auto auto auto auto auto auto;
}
.grid-container>div{
    background-color: red;
    padding: 30px;
    color: white;
    text-align: center;
    font-size: 30px;
    border: 1px solid black;
}
.item1{
    grid-row: 1 / span 2;
}