

.a2:link,.a2:visited {
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid black;

}
.a2:hover , .a2:active{
    background-color: pink;
    text-transform: uppercase;
}

/* a:link, a:visited{
    background-color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
    color: blue;
   }
   
   a:hover,a:active {
       background-color: aqua;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       font-size: large;
       text-transform: uppercase;
       text-decoration: underline;
       color:red;
   } */