input[type=text] {
    width: 100%;
    padding: 12px 0;
    margin: 12px 0;
    box-sizing: border-box;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
    background-color: aqua;
}