body{
    text-align: center;
}
.tooltip{
    position: relative;
    border-bottom: 1px dotted black;
    display: inline-block;
}
.tooltip .tooltiptext{
    visibility: hidden;
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px 0;
    border-radius: 5px;
    width: 120px;
    text-align: center;
    z-index: 1;
    top: -5px;
    left: 105%;
}
.tooltip:hover .tooltiptext{
    visibility: visible;
}