.pagination{
    display: inline-block;
}
.pagination a{
    text-decoration: none;
    padding: 15px;
    color: black;
    border: 1px solid #ddd;
    float: left;
}
.pagination a.active{
    background-color: deeppink;
    color: white;
}
.pagination a:hover:not(.active){
    background-color: purple;
    color: white;
}