.pagination{
    display: inline-block;
    margin: 12px;
}
.pagination a{
    text-decoration: none;
    color: black;
    padding: 15px;
    border-radius: 5px;
    transition: background-color 1s;
}
.pagination a.active{
    background-color: red;
    color: white;
    border-radius: 5px;
}
.pagination a:hover:not(.active){
    background-color: gainsboro;
}