.container{
    background-color: palegreen;
    height: 1000px;
}
.box{
    background-color: red;
    color: white;
    width: 150px;
    height: 150px;
    margin: 5px;
    display: inline-block;
}
#box3{
    position: sticky;
    top: 0px;
}