:root{
    --blue:#1e90ff;
    --white:#ffffff;
}
body{
    background-color: var(--blue);

}
.container{
    background-color: var(--white);
    padding: 15px;
    color: var(--blue);
}
button{
    --blue:red;
    border: 1px solid var(--blue);
    background-color: var(--blue);
    color: var(--white);
    padding: 15px;
}