div{
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: ar;
    animation-duration: 6s;
    animation-iteration-count: 3;
    background-color: red;
    animation-direction: alternate-reverse;
}
@keyframes ar{
    0%{background-color: red;left:0;top: 0;}
    25%{background-color: yellow;left: 200px;top: 0;}
    50%{background-color: grey;left: 200px;top: 200px;}
    75%{background-color: purple;left: 0;top: 200px;}
    100%{background-color: aqua;left: 0;top: 0;}
}