div{
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: direction;
    animation-duration: 6s;
    animation-delay: 2s;
    animation-iteration-count: 4;
    animation-direction: reverse;
}
@keyframes direction{
    0%{background-color: green;left: 0;top: 0;}
    25%{background-color: red;left: 200px;top: 0;}
    50%{background-color: yellow;left: 200px;top: 200px;}
    75%{background-color: tomato;left: 0;top: 200px;}
    100%{background-color: purple;left: 0;top: 0;}
}