div {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation-name: example;
    animation-duration: 3s;  
    animation-delay: 2s;
    animation-fill-mode: backwards;
  }
  @keyframes example {
    from {top: 0px; background-color: yellow;}
    to {top: 200px;}
  }