div{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: yellow;
    animation-name: change;
    animation-duration: 5s;
}
@keyframes change{
    0%{background-color: red;left: 0;top: 0;}
    25%{background-color: yellow;left: 200px;top: 0;}
    50%{background-color: orange;left: 200px;top: 200px;}
    75%{background-color: #fff;left: 0;top: 200px;}
    100%{background-color: orchid;left: 0;top: 0;}
}