div{
    width: 100px;
    height: 100px;
    background-color: pink;
    animation-name: percentage;
    animation-duration: 5s;
}
@keyframes percentage{
    0%{background-color: red;}
    25%{background-color: green;}
    50%{background-color: purple;}
    75%{background-color: yellow;}
    100%{background-color: black;}
}