.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding: 12px 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,225,0.2);
    z-index: 1;
    width: 100%;
    overflow: auto;
}
.dropdown:hover .dropdown-content {
    display: block;
}