.dropdown {
    position: relative;
    float: right;
}

.dropbtn {

    padding: 12px 16px;
    border: none;
    background-color: aqua;
}

.dropdown-content {
    position: absolute;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    min-width: 160px;
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    background-color: white;
    text-decoration: none;
    padding: 12px 16px;
    display: block;
    text-align: center;
}
.dropdown-content a:hover{
    background-color: gainsboro;
}
.dropdown:hover .dropdown-content {
    display: block;

}