.container{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: red;
    padding: 10px;
}
.container > div {
    background-color: #fff;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}