.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rebeccapurple;
    justify-content: space-evenly;
    padding: 10px;
    gap: 10px;
}
.container > div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px ;
    font-size: 30px;
}