body{
    background-color: purple;
    color: aqua;
}

@media screen and (max-width:992px){
    body{
        background-color: aqua;
        color: red;
    }
}
@media screen and (max-width:600px){
    body{
        background-color: red;
        color: white;
    }
}
