*{
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.column{
    background-color: #aaa;
    padding: 20px;
    flex:25%;
}
@media screen and (max-width:992px) {
    .column{
        flex:50%;
    }
}
@media screen and (max-width:600px) {
    .row{
        flex-direction: column;
    }
}