* {
    box-sizing: border-box;
}

.header {
    background-color: green;
    color: white;
    padding: 60px;
    text-align: center;
}

.navbar {
    display: flex;
    background-color: #333;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 15px 16px;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}
@media screen and (max-width: 700px) {

    .row,
    .navbar {
        flex-direction: column;
    }
}