table,td,th{
    border-bottom: 2px solid #ddd;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th,td {
    padding: 15px;
}
td{
    text-align: center;
}
tr:hover{
    background-color: coral;
    color: white;
}
tr:nth-child(even):hover{
    color: black;
    background-color: coral;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}