.button{
    border: none;
    background-color: green;
    color: white;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button1{
    padding: 10px 24px;
}
.button2{
    padding: 12px 28px;
}
.button3{
    padding:14px 40px;
}
.button4{
    padding:32px 16px;
}
.button5{
    padding: 16px;
}