.button{
    display: inline-block;
    margin: 4px 2px;
}
.button1{
    background-color: cyan;
    text-align: center;
    width: 250px;
    border: none;
    padding: 12px 32px;
}
.button2{
    background-color: green;
    color: white;
    width: 50%;
    border: none;
    padding: 12px 35px;

}
.button3{
    background-color: red;
    color: white;
    width: 100%;
    border: none;
    padding: 12px 32px;
}