.button{
    display: inline-block;
    padding: 15px 25px;
    border: none;
    font-size: 16px;
    background-color: green;
    color: white;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.button:hover{
    background-color: red;
}
.button:active{
    transform: translateY(3px);
    box-shadow: 0 5px #666;
    background-color: red;
}