.flex-container > div{
    width: 100px;
    line-height: 75px;
    background-color: aqua;
    margin: 10px;
    text-align: center;
}
.flex-container{
    display: flex;
    flex-direction: column;
    background-color: red;
}