/* it's a normal flow of the web page it's by default everywhere */

.container {
    height: 2000px;
    border: 1px solid springgreen;
    background-color: rgb(115, 255, 80);
}

.box{
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 3px dotted red;
    
}

#box1 {
    position:static;
    top: 4px;
}