input[type ="text"]{
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: yellow;
}
input[type = "button"]{
    width: 120px;
    margin-left: 35px;
    display: block;
}