.container{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: red;
}
img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: right top;
}