.container{
    display: flex;
    background-color: blue;
    flex-wrap: wrap;
    height: 600px;
    align-content: flex-end;
}
.container>div{
    width: 100px;
    line-height: 75px;
    color: white;
    background-color: red;
    text-align: center;
    margin: 10px;
}