div {
    overflow: auto;
    width: 150px;
    height: 150px;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 2px blue;
    color: white;
}