.right {
    float: right;
    width: 300px;
    border: 2px solid green;
    padding: 10px;
}
h1 {
    border: 2px solid green;
    text-align: center;
    text-shadow: 3px 3px 3px red;
    color: white;
    background-color: black;
}