input[type=text],select {
    width: 100%;
    padding: 10px 12px; 
    margin: 12px 0;
    display: inline-block;
    border: 1px solid gainsboro;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    padding: 12px 0;
    border: none;
    background-color: green;
    color: white;
    border: 4px;
    cursor: pointer;
}

div {
    padding: 20px;
    background-color: gainsboro;
    border-radius: 5px;

}