.sofia{
        font-family: "Sofia", cursive;
        font-weight: 400;
        font-style: normal;
}
.triorong{
        font-family: "Trirong", serif;
        font-weight: 400;
        font-style: normal;
}
.Audiowide{
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: italic;  
}