ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}
li{
    float: left;
}
li a{
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
}
.active{
    background-color: #f1f;
}
li a:hover:not(.active){
    background-color: #111;
}