*{
    box-sizing: border-box;
  
}
body{
    margin: 0;
}
ul{
    list-style-type: none;
    background-color: #000;
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.active{
    background-color: green;
}
li{
    float: left;
}
li a{
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    padding: 14px 12px;
}