ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
}
li a{
   display: block;
   text-decoration: none;
   padding: 8px 12px;
   color: #000;
}