*{
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 1500px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
li{
    float: left;
}
li a{
    display: block;
    text-decoration: none;
    padding: 14px 12px;
    color: black;
}
li a.active{
    background-color: #4CAF50;
}
li a:hover:not(.active){
    background-color: #111;
    color: white;
}
@media screen and (max-width:900px) {
    ul{
        width: 100%;
        height: auto;
        position:relative;
    }
}
@media screen and (max-width:400px) {
    li{
        float: none;
    }
    ul li a{
        text-align: center;
    }
}