*{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
    background-color: #111;
    overflow: hidden;
}
li a{
    display: block;
    padding: 14px 12px;
    text-decoration: none;
    color: #FFFFFF;
}
li{
    float: left;
}
.active{
    background-color: green;
}
li a:hover:not(.active){
    background-color: #fff;
    color: #111;
}