div{
    width: 100%;
    background-color: black;
    margin: 4px 0;
}
div > code {
    display: block;
    background-color: red;
    color: white;
    height: 48px;
}
.calc1 > code {
    width: calc(100px + 00px);
}
.calc2 > code {
    width: calc(2em * 5);
}
.calc3 > code {
    width: calc(100% - 32px);
}
.calc4 > code {
    --predefined-width:100%;
    width: calc(var(--predefined-width) - calc(16px * 2));
}