.center{
    border: 2px solid green;
    height: 300px;
    position: relative;
}

.center p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}