div{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: width 2s,height 2s, transform 2s;
}

div:hover{
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
}