.grid-container{
display: grid;
background-color: red;
height: 300px;
align-content: start;
padding: 10px;
gap: 10px;
grid-template-columns: auto auto auto;
}
.grid-container>.grid-item{
background-color: white;
padding: 20px 0;
font-size: 30px;
border: 1px solid black;
text-align: center;
}