.grid-container{
    display: grid;
    background-color: red;
    height: 400px;
    grid-template-columns: auto auto auto;
    align-content: space-between;
    gap: 20px;
}
.grid-container>.grid-item{
    background-color: blue;
    color: white;
    border: 1px solid black;
    text-align: center;
    padding: 20px 0;
}