.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 100px 50px;
    padding: 10px;
    background-color: rgba(200, 100, 50, 0.8);
}
.grid-item{
    background-color: yellow;
    padding: 30px;
    border: 1px solid green;
    text-align: center;
}