.grid-container{
    display: grid;
    padding: 10px;
    gap: 10px;
    padding: 10px;
    background-color: aqua;
    grid-template-columns: 80px 200px auto 40px;
}
.grid-container>div{
    background-color: tomato;
    padding: 20px 0;
    font-size: 30px;
    text-align: center;
}