.grid-container{
display: grid;
background-color: black;
padding: 10px;
gap: 20px;
grid-template-columns: 50px 50px 50px;
justify-content: center;
}
.grid-container>.grid-item{
background-color: red;
padding: 20px 0;
font-size: 30px;
border: 1px solid white;
text-align: center;
}