.grid-container{
    display: grid;
    background-color: red;
    grid-template-columns: 50px 50px 50px;
    justify-content: start;
}
.grid-item{
    background-color: blue;
    padding: 20px 0;
    font-size: 30px;
    border: 1px solid white;
    text-align: center;
    color: white;
}