.tooltip{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext{
    visibility: hidden;
    position: absolute;
    z-index: 1;
    background-color: black;
    color: white;
    text-align: center;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}
.tooltip:hover .tooltiptext{
    visibility: visible;
}
.tooltip .tooltiptext::after{
    content: " ";
    position: absolute;
    border-style: solid;
    border-width: 5px;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-color: black transparent transparent transparent;
}