ul {
    width: 200px;
    list-style-type: none;
    border: 1px solid black;
    
    padding: 0px;
}

li a {
    text-align: center;
    display: block;
    background-color: gainsboro;
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    border-bottom: 2px solid black;
}

li a:hover {
    background-color: green;
    color: white;
}
li a.active {
    background-color: crimson;
    color: black;
}

li a:hover:not(.active) {
    background-color: green;
    color: white;
}